@use '../../../global-styles/' as gs;


.modal {
    position: fixed;
    bottom: 0;
    background: gs.$dark-transparent;
    width: 100vw;
    height: 100%;
    z-index: 1;
    @include gs.display-flex(row, center, center);

    &__image {
        position: relative;

        &>img {
            max-width: 80vw;
            min-width: 48vw;
            max-height: 80vh;
            width: 100%;
            height: 100%;
            object-fit: contain;
            @include gs.shadow(15px, 3px);
            background: white;
            z-index: 2;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        & svg {
            position: absolute;
            z-index: 2;
            margin: 0.25rem;
            font-size: 2.65rem;
            color: gs.$gradient-purple;
            padding: 0.4rem 0rem;
            opacity: 0.7;
            transition: 0.5s;

            &:hover {
                cursor: pointer;
                color: gs.$secondary-color;
                opacity: 1;
                background: #00000070;
            }
        }

        &__close {
            top: 0;
            right: 0;
        }

        &__right {
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
        }

        &__left {
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
        }

        &>p {
            position: absolute;
            top: 0.2rem;
            left: 1.2rem;
            font-size: 0.8rem;
            font-weight: 600;
            font-style: italic;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
            text-shadow: 1px 1px 2px gs.$main-color;
        }
    }
}