@use '../../../global-styles/' as gs;

.add__stars__radio__inputs__wrapper {
    border-bottom: 1px solid gray;

    &>label {
        &>input {
            display: none;
        }

        &>svg {
            cursor: pointer;
            font-size: 1.9rem;
            margin: 0.3rem;
            transition: 0.5s;
            @include gs.breakpoint(tablet-start, tablet-end) {
                width: 1.35rem;
            }
            @include gs.breakpoint(mobile-start, mobile-end) {
                width: 1.2rem;
                margin: 0.1rem;
            }
        }
    }
}