:root {
  --main-color: #f4f5f7;
  --primary-color: #0084ff;
  --secondary-color: #ff6600;
  --header-color: #2c2b2a;
  --light-color: #ffa260;

  /* --mobile-view: 320px;
  --tablet-view: 768px;
  --desktop-view: 992px;
  --large-desktop-view: 1200px; */
}
