@use '../../../global-styles/' as gs;

.wishlist__button {
    background: none;
    border: none;
    text-transform: capitalize;
    font-size: 0.95rem;
    position: relative;
    margin-bottom: 0;
    font-weight: 600;
    transition: 0.5s;

    &>svg {
        margin-right: 0.4rem;
        transition: 0.3s;
    }

    &::after {
        display: inline-block;
        content: '';
        background: gs.$header-color;
        opacity: 0.55;
        width: 92%;
        height: 0.1rem;
        position: absolute;
        bottom: -0.2rem;
        left: 50%;
        transform: translate(-50%);
        transition: 0.5s;
    }

    &:hover {
        cursor: pointer;
        // transform: scale(1.1);
        &>svg{
            transform: scale(1.2);
            // transition: 0.5s;
        }
    }

    // &:hover::after {

    // }

}

.added__wishlist__button{

    &>svg{
        color: gs.$red-color;
        font-size: 1.1rem;
    }
}