@use '../../../global-styles/' as gs;

.grid__card {
    width: 13rem;
    height: 20rem;
    background: gs.$card-color;
    @include gs.shadow(15px, -5px);
    transition: 0.5s ease;

    @media screen and (max-width:550px) {
        width: 9.1rem;
    }

    &:hover {
        transform: scale(1.05);
    }


    &__image__wrapper {
        width: 100%;
        height: 60%;

        &>img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        // position: relative;
        padding-top: 0.5rem;
        text-align: center;
        height: 40%;
        @include gs.display-flex(column, space-between, center);

        &>h4 {
            @include gs.breakpoint(mobile-start, mobile-end) {
                font-size: 0.87rem;
            }
        }

        &__text {
            width: 80%;
            margin-inline: auto;
            @include gs.display-flex(row, space-between, center);

            &>p {
                @include gs.breakpoint(mobile-start, mobile-end) {
                    font-size: 0.8rem;
                }
            }
        }

        &__buttons {
            width: 100%;
            @include gs.display-flex(column, center, center);
            // position: fixed;
            bottom: 0;
        }
    }

}