@use '../../../global-styles/' as gs;

.form__input{
    border-radius: 0.7rem;
    border: 1px solid gs.$header-color;
    padding: 0.4rem 1rem;
    font-size: 0.9rem;
    text-align: center;
    background: gs.$forms-color;

    &:focus{
        background: gs.$light-color;
    }

    


}