@use '../../global-styles/' as gs;

.home__page {
    width: 100%;
    @include gs.display-flex(column, center, center);

    &__logo__wrapper {
        width: 19rem;
        height: 20rem;
        @include gs.breakpoint(mobile-start, mobile-end) {
           height: 20rem;
        }
    }

    &__title {
        @include gs.text-shadow(gs.$secondary-color);
        font-size: 7rem;
        color: gs.$light-color;
        -webkit-text-stroke: 1px #969595;
        margin-bottom: 3rem;
    }

    &__animation {
        color: gs.$gradient-ogange;
        background: -webkit-linear-gradient(30deg, gs.$secondary-color 15%, gs.$gradient-purple 90%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px solid #000;
        text-align: center;
        font-size: 2rem;
    }
}