@use '../../global-styles/' as gs;

.home__page {
    width: 100%;
    @include gs.display-flex(column, center, center);

    &__logo__wrapper {
        width: 19rem;
        // transform: rotateY(180deg);
        // transition: transform 3s ;
        // transform-style: preserve-3d;
    }

    &__title {
        @include gs.text-shadow(gs.$secondary-color);
        font-size: 7rem;
        color: gs.$light-color;
        -webkit-text-stroke: 1px #969595;
        margin-bottom: 3rem;
    }

    &__animation {
        // @include gs.text-shadow(gray);
        color: gs.$gradient-ogange;
        background: -webkit-linear-gradient(30deg, gs.$secondary-color 15%, gs.$gradient-purple 90%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px solid #000;
        // text-shadow: 1px 1px 1px #beb6b6,
        //     1px 2px 1px #beb6b6,
        //     1px 3px 1px #beb6b6,
        //     1px 4px 1px #beb6b6;
        text-align: center;
        font-size: 2rem;
    }
}