@use './colors' as colors;

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: colors.$main-color;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}