$main-color: #F0F2F5;
$primary-color: #0084ff;
$secondary-color: #ff6600;
$header-color: #2c2b2a;
$light-color: #ffa260;
$forms-color: #ffffffa6;
$gradient-ogange: $light-color;
$gradient-purple: #5900ff;
$card-color: #f8f8f8;
$green-color: #1dee62;
$red-color: #d80000;
$dark-transparent:#1b1b1b70