@use '../../../global-styles/' as gs;

.pages__wrapper {
    position: relative;
    @include gs.page-center (column, center, center);
    min-height: 90vh;
    padding: 1.5rem;
    overflow: hidden;
}