@use '../../global-styles/' as gs;

.products {
    width: 100%;
    @include gs.display-flex(row, center, center);

    &__filter{
        min-width: 11rem;
        padding: 1rem;
        border: 1px solid  gs.$header-color;

        &__form{
            &__section{
                &>h4{
                    text-transform: capitalize;
                    text-align: center;
                    margin: 0.5rem 0 0.3rem 0;
                }
            }
        }
    }


}