@use '../../global-styles/' as gs;

.flip {
    background-color: transparent;
    width: 23rem;
    height: 27rem;
    perspective: 1000px;

    &__height {
        min-height: 35rem;
    }

    &__wrapper {
        position: absolute;
        width: 100%;
        @include gs.display-flex(column, center, center);
        padding: 0 1.5rem 2.5rem;
    }

    &__titles__wrapper {
        width: 15rem;
        @include gs.display-flex(row, space-between, center);
        padding-left: 1.2rem;

        &>h3 {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    &__button {
        width: 5rem;
        position: relative;
        margin-top: 0.5rem;

        .arrow {
            color: gs.$secondary-color;
            font-size: 2rem;
            cursor: pointer;
            position: relative;
            border-radius: 50%;
            border: 2px solid rgb(66, 65, 65);
            box-shadow: 0 0 10px 0px #00000085;
            background: #000;
        }

        &::after {
            position: absolute;
            z-index: -1;
            content: '';
            width: 100%;
            height: 2.3rem;
            background: red;
            bottom: 0.25rem;
            left: 0;
            border-radius: 1.2rem;
            border: 1px solid #000;
            -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.88);
            box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.88);
            ;
        }
    }

    &__inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 1.5s;
        transform-style: preserve-3d;


        &__front,
        &__back {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        &__back {
            transform: rotateY(180deg);
        }
    }
}

.rotate {
    transform: rotateY(180deg);
}


.flip__right {
    animation: flipRight 1s linear;
    animation-fill-mode: forwards;

}

.flip__left {
    animation: flipLeft 1s linear;
    animation-fill-mode: forwards;
}

.hide__flipper{
    display: none;
}


.first__right{
    animation: firstRight 1.3s linear ;
    animation-fill-mode: forwards;

}
.first__left{
    right: -100%;
    animation: firstLeft 1.3s linear ;
    animation-fill-mode: forwards;

}
.second__right{
    animation: secondRight 1.3s linear ;
    animation-fill-mode: forwards;

}
.second__left{
    right: -100%;
    animation: secondLeft 1.3s linear ;
    animation-fill-mode: forwards;

}


@keyframes firstRight{
    from{
        left: 0;
        opacity: 1;
    }

    to{
        left: -80%;
        opacity: 0;
    }
}
@keyframes firstLeft{
    from{
        left: -80%;
        opacity: 0;
    }

    to{
        left: 0;
        opacity: 1;
    }
}
@keyframes secondRight{
    from{
        right: -80%;
        opacity: 0;
    }

    to{
        right: 0;
        opacity: 1;
    }
}
@keyframes secondLeft{
    from{
        right: 0;
        opacity: 1;
    }

    to{
        right: -80%;
        opacity: 0;
    }
}

@keyframes flipRight {
    from {
        left: 0;
        rotate: 0deg;
    }
    
    to {
        left: 2.8rem;
        rotate: 450deg;
    }
    
}

@keyframes flipLeft {
    from {
        left: 2.8rem;
        rotate: 450deg;
    }
    
    to {
        left: 0;
        rotate: 0deg;
    }
}